<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Abs</h3>
	<div class="m-auto">
		<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Rectus_abdominis.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">Your abs are separated by the Transverse Abdominis, Rectus Abdominis, Interal Obliques and External Obliques. Though your abs are targeted by many
		compound exercises, it can be effective to target them separately. Another thing to note is that ab muscles recover extremely quickly so you can train them
		often.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/abs/hanginglegraise" class="card-link">Hanging Leg Raises</a>
	</div>
  </div>