<h1>Abs</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Rectus_abdominis.png" width="300" height="300">
<p>Your abs are separated by the Transverse Abdominis, Rectus Abdominis, Interal Obliques and External Obliques. Though your abs are targeted by many
	compound exercises, it can be effective to target them separately. Another thing to note is that ab muscles recover extremely quickly so you can train them
	often.
</p>

<h3>Exercises</h3>
<a href="/muscles/abs/hanginglegraise">Hanging Leg Raises </a>