<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header"><a href="/muscles/abs">Abs</a> - Hanging leg raise</h3>
	<div class="m-auto">
	<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/workouts/2017/05/hanginglegraise-1496161341.gif"
	 width="420" height="300" style="margin-top: 20px;" >
	</div>
	<div class="card-body">
	  <p class="card-text">Hanging leg raises are very effective for building abs. If you cannot do them, you can work up to them from hanging knee raises.</p>
	</div>
	<ul class="list-group list-group-flush">
	  <li class="list-group-item">1) Grab onto the top</li>
	  <li class="list-group-item">2) Use your abs to bring up your legs</li>
	  <li class="list-group-item">3) Bring them down slowly and repeat</li>
	</ul>
	<div class="card-body">
	  <a href="https://www.youtube.com/watch?v=X-ACS9vpRyU" target="_blank" class="card-link">"How To: Hanging Knee / Leg Raise | BUILD A “SCIENCED BASED” 6-PACK!"</a>
	</div>
	<div class="card-footer">
		<% if (login) { %>
			<div>
			<form action="/muscles/abs/hanginglegraise/" method="POST" class="d-inline">
				<select name="day" id="day">
					<option value="monday">Monday</option>
					<option value="tuesday">Tuesday</option>
					<option value="wednesday">Wednesday</option>
					<option value="thursday">Thursday</option>
					<option value="friday">Friday</option>
					<option value="saturday">Saturday</option>
					<option value="sunday">Sunday</option>
				  </select>
				<button type="submit" class="btn btn-danger">Add to routine</button>
			</form>
			</div>
			<% }%>
	</div>
  </div>