<h1>Calves</h1>
<img src="https://imgur.com/3z3UGzp.png" width="300" height="300">
<p>The “calf muscle” or triceps surae consists of three separate muscles - the Gastrocnemius, Soleus, and Plantaris</p>

<h3>Exercises</h3>
<a href="/muscles/calves/calfraises">Calf Raises</a>