<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Calves</h3>
	<div class="m-auto">
		<img src="https://imgur.com/3z3UGzp.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">The “calf muscle” or triceps surae consists of three separate muscles - the Gastrocnemius, Soleus, and Plantaris</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/calves/calfraises" class="card-link">Calf Raises</a>
	</div>
  </div>