<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Lower back</h3>
	<div class="m-auto">
		<img src="https://imgur.com/34VfAGM.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text"></p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="" class="card-link">s</a>
	</div>
  </div>