<p>The original article by Jim Wendler that details 5/3/1 for Beginners (also known as “5314B”) 
	can be found <a href="https://www.jimwendler.com/blogs/jimwendler-com/101065094-5-3-1-for-a-beginner" target="_blank">here</a>. </p>

<h3>Training Max</h3>
<p>The main work for 5/3/1 programs is done as percentages of a Training Max. Progression to higher weights is also via the Training Max, 
	which is explained in further detail below.

<p>To set your initial Training Max when starting this program:</p>
	
<ul>
	<li>For each of the main lifts (squat, bench press, overhead press, deadlift), work up to a weight that you can only complete 3-5 reps of with good bar speed.</li>
	<li>Take this weight and the number of reps and calculate your estimated One Rep Max (1RM) using the <a href="/onerepmaxcalculator/">One Rep Max calculator</a>.</li>
	<li>Take 90% of the estimated 1RM and use this as your starting Training Max.</li>
</ul>

<h3>The routine</h3>

<% if (login) { %>
	<div>
	<form action="/muscles/routines/531forbeginners/" method="POST" class="d-inline">
		<button type="submit" class="btn btn-danger">Make this your routine</button>
	</form>
	</div>
<% }%>


<p>Monday</p>
<ul>
	<li><a href="/muscles/quadriceps/barbellsquat/">Barbell Squat</a></li>
	<li><a href="/muscles/chest/barbellbenchpress">Barbell Bench Press</a></li>
	
</ul>

<p>Wednesday</p>
<ul>
	<li><a href="/muscles/lowerback/deadlift/">Deadlift</a></li>
	<li><a href="/muscles/frontdeltoids/overheadpress">Overhead press</a></li>
	
</ul>

<p>Friday</p>
<ul>
	<li><a href="/muscles/chest/barbellbenchpress">Barbell Bench Press</a></li>
	<li><a href="/muscles/quadriceps/barbellsquat/">Barbell Squat</a></li>
	
</ul>