<form action="/muscles/routines/<%= newProfile.username %>/<%=day%>?_method=POST" method="POST" class="d-inline">
	<h3>Chest</h3>
	<input type="checkbox" name="bbp" value="Barbell bench press,chest/barbellbenchpress">
	<label for="Barbell bench press"> Barbell bench press</label><br>
	<input type="checkbox" name="incline" value="Incline bench press,chest/inclinebenchpress">
	<label for="incline"> Incline bench press</label><br>
	<h3>Traps</h3>
	<input type="checkbox" name="shrugs" value="Shrugs,trapezius/shrugs">
	<label for="Shrugs"> Shrugs</label><br>
	<h3>Lats</h3>
	<input type="checkbox" name="barbellrow" value="Barbell row,lats/barbellrow">
	<label for="barbellrow"> Barbell row</label><br>
	<input type="checkbox" name="chestsupportedrow" value="Chest supported row,lats/chestsupportedrow">
	<label for="chestsupportedrow"> Chest supported row</label><br>
	<input type="checkbox" name="latpulldown" value="Lat pulldown,lats/latpulldown">
	<label for="latpulldown"> Lat pulldown</label><br>
	<h3>Lower back</h3>
	<input type="checkbox" name="deadlift" value="Deadlift,lowerback/deadlift">
	<label for="deadlift"> Deadlift</label><br>
	<h3>Abs</h3>
	<input type="checkbox" name="hlr" value="Hanging leg raise,abs/hanginglegraise">
	<label for="hlr"> Hanging leg raise</label><br>
	<h3>Biceps</h3>
	<input type="checkbox" name="curls" value="Bicep curls,biceps/bicepcurls">
	<label for="curls"> Bicep curls</label><br>
	<input type="checkbox" name="hammercurls" value="Hammer curls,biceps/hammercurls">
	<label for="hammercurls"> Hammer curls</label><br>
	<h3>Triceps</h3>
	<input type="checkbox" name="tricepextensions" value="Tricep extensions,triceps/tricepextensions">
	<label for="tricepextensions"> Tricep extensions</label><br>
	<input type="checkbox" name="triceppushdown" value="Tricep pushdown,triceps/triceppushdown">
	<label for="triceppushdown"> Tricep pushdown</label><br>
	<h3>Calves</h3>
	<input type="checkbox" name="calfraise" value="Calf raises,calves/calfraises">
	<label for="calfraise"> Calf raises</label><br>
	<h3>Front delts</h3>
	<input type="checkbox" name="ohp" value="Overhead press,frontdeltoids/overheadpress">
	<label for="ohp"> Overhead press</label><br>
	<input type="checkbox" name="latraises" value="Lateral raises,frontdeltoids/lateralraises">
	<label for="latraises"> Lateral raises</label><br>
	<h3>Rear delts</h3>
	<input type="checkbox" name="facepulls" value="Face pulls,reardeltoids/facepulls">
	<label for="facepulls"> Face pulls</label><br>
	<h3>Quads</h3>
	<input type="checkbox" name="squats" value="Barbell squat,quadriceps/barbellsquat">
	<label for="squats"> Barbell squat</label><br>
	<input type="checkbox" name="legcurls" value="Leg curls,quadriceps/legcurls">
	<label for="legcurls"> Leg curls</label><br>
	<input type="checkbox" name="legpress" value="Leg press,quadriceps/legpress">
	<label for="legpress"> Leg press</label><br>
	<h3>Hamstrings</h3>
	<input type="checkbox" name="romaniandeadlift" value="Romanian deadlift,hamstrings/romaniandeadlift">
	<label for="romaniandeadlift"> Romanian deadlift</label><br>
	<button type="submit" class="btn btn-primary btn">Add</button>
</form>