<%- include('../partials/messages'); %>
<p>The original reddit post created by 
	user "Metallicadpa" can be found <a href="https://www.reddit.com/r/Fitness/comments/37ylk5/a_linear_progression_based_ppl_program_for/" target="_blank">here</a>. </p>

<h3>Linear progression</h3>
<p>Linear progression is adding weight each time you lift. If you benched 50kg last week, you would try to make it 52.5kg the week after that.</p>


<h3>What is PPL?</h3>
<p>
PPL is just the initialiasm of push, pull, legs or pull, push, legs (it really doesn't matter which). This will (typically) have you doing 3 workouts, 2 times per week.<br>
Push - this can just be thought of as moving things away from your body (think of a bench press)<br>
Pull - this can be thought of as moving things towards your body (think of a row)<br>
Legs - I'm not going to bother with an explanation here
</p>

<% if (login) { %>
	<div>
	<form action="/muscles/routines/redditppl/" method="POST" class="d-inline">
		<button type="submit" class="btn btn-danger">Make this your routine</button>
	</form>
	</div>
<% }%>

<h3>The routine</h3>

<p>Monday (pull)</p>
<ul>
	<li><a href="/muscles/lowerback/deadlift/">Deadlift</a></li>
	<li><a href="/muscles/lats/latpulldown">Lat pulldown</a></li>
	<li><a href="/muscles/lats/chestsupportedrow">Chest supported row</a></li>
	<li><a href="/muscles/reardeltoids/facepulls">Face pulls</a></li>
	<li><a href="/muscles/biceps/bicepcurls">Bicep curls</a></li>
	<li><a href="/muscles/biceps/hammercurls">Hammer curls</a></li>
</ul>

<p>Tuesday (push)</p>
<ul>
	<li><a href="/muscles/chest/barbellbenchpress/">Barbell bench press</a></li>
	<li><a href="/muscles/frontdeltoids/overheadpress">Overhead press</a></li>
	<li><a href="/muscles/chest/inclinebenchpress">Incline bench press</a></li>
	<li><a href="/muscles/triceps/triceppushdown">Tricep pushdown</a></li>
	<li><a href="/muscles/triceps/tricepextensions">Tricep extensions</a></li>
	<li><a href="/muscles/frontdeltoids/lateralraises">Lateral raises</a></li>
</ul>

<p>Wednesday (legs)</p>
<ul>
	<li><a href="/muscles/quadriceps/barbellsquat/">Barbell squat</a></li>
	<li><a href="/muscles/hamstrings/romaniandeadlift">Romanian Deadlift</a></li>
	<li><a href="/muscles/quadriceps/legpress">Leg press</a></li>
	<li><a href="/muscles/quadriceps/legcurls">Leg curls</a></li>
	<li><a href="/muscles/calves/calfraises">Calf raises</a></li>
</ul>

<p>Thursday (pull)</p>
<ul>
	<li><a href="/muscles/lats/barbellrow/">Barbell row</a></li>
	<li><a href="/muscles/lats/latpulldown">Lat pulldown</a></li>
	<li><a href="/muscles/lats/chestsupportedrow">Chest supported row</a></li>
	<li><a href="/muscles/reardeltoids/facepulls">Face pulls</a></li>
	<li><a href="/muscles/biceps/bicepcurls">Bicep curls</a></li>
	<li><a href="/muscles/biceps/hammercurls">Hammer curls</a></li>
</ul>

<p>Friday (push)</p>
<ul>
	<li><a href="/muscles/frontdeltoids/overheadpress">Overhead press</a></li>
	<li><a href="/muscles/chest/barbellbenchpress/">Barbell bench press</a></li>
	<li><a href="/muscles/chest/inclinebenchpress">Incline bench press</a></li>
	<li><a href="/muscles/triceps/triceppushdown">Tricep pushdown</a></li>
	<li><a href="/muscles/triceps/tricepextensions">Tricep extensions</a></li>
	<li><a href="/muscles/frontdeltoids/lateralraises">Lateral raises</a></li>
</ul>

<p>Saturday (legs)</p>
<ul>
	<li><a href="/muscles/quadriceps/barbellsquat/">Barbell squat</a></li>
	<li><a href="/muscles/hamstrings/romaniandeadlift">Romanian Deadlift</a></li>
	<li><a href="/muscles/quadriceps/legpress">Leg press</a></li>
	<li><a href="/muscles/quadriceps/legcurls">Leg curls</a></li>
	<li><a href="/muscles/calves/calfraises">Calf raises</a></li>
</ul>

