<%- include('../partials/messages'); %>
<h1>Routines</h1>
<p>Welcome to the routines page. Here, you can select from various routines from beginner to intermediate to advanced or even create your own using the many exercises we have on
	LiftHelper.
</p>
<% if (login) { %>
<a href="/muscles/routines/<%= newProfile.username %>/">Go to your routine</a>
<% }%>
<form action="/muscles/routines/routines/" method="POST" class="d-inline">
	<label for="name">Name your routine</label>
	<input
		type="text"
		name="name"
		id="name"
		class="form-control"
		placeholder="3 day split"
		value="<%= typeof name != 'undefined' ? name : '' %>"
	>
	<button type="submit" class="btn btn-danger">Create a routine</button>
	</form>

<h3>Beginner Routines</h3>
<a href="/muscles/routines/531forbeginners/">5/3/1 for beginners by Jim Wendler (3 day routine)</a><br>
<a href="/muscles/routines/redditppl/">Reddit ppl</a><br>
<a href="/muscles/routines/arnoldsplit/">Arnold split</a><br>
<a href="/muscles/routines/nsuns/">nSuns linear progression</a><br>
<a href="/muscles/routines/phat/">PHAT (Power Hypertrophy Adaptive Training)</a>
