<div class="row mt-5">
	<div class="col-md-6 m-auto">
	  <div class="card card-body">
	  <%- include('partials/messages'); %>
<form action="/users/changepassword" method="POST">
	<label for="newpassword">Change your password</label>
	<input
		type="password"
		name="newpassword"
		id="newpassword"
		class="form-control"
		placeholder="New password"
		value="<%= typeof newpassword != 'undefined' ? newpassword : '' %>"
	>
	<label for="newpassword2">Confirm your password</label>
	<input
	type="password"
	name="newpassword2"
	id="newpassword2"
	class="form-control"
	placeholder="Enter your new password again"
	value="<%= typeof newpassword2 != 'undefined' ? newpassword2 : '' %>"
	>
	<button type="submit" class="btn btn-primary btn-block">Change</button>
</form>
	  </div>
	  </div>
	  </div>