<style>
	.content {
	  max-width: 500px;
	  margin: auto;
	}
</style>
<%- include('partials/messages'); %>
<h1>Welcome</h1>
<p>to LiftHelper</p>



<div class="content" > 
<img src="https://imgur.com/RMGbEWc.png" usemap="#image-map">

<map name="image-map">
    <area target="_self" alt="" title="" href="/muscles/frontdeltoids" coords="223,112,231,130,235,142,248,152,249,136,246,121,234,107,216,105,204,106,198,110,211,116,216,123,221,129,233,147,239,147" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/frontdeltoids" coords="134,109,122,104,111,105,101,109,93,113,88,122,86,133,87,142,89,153,104,143" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/chest" coords="142,111,161,126,164,156,136,161,105,145,128,116" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/chest" coords="194,111,174,123,170,156,199,159,214,155,226,144,208,117" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/biceps" coords="77,207,101,196,110,171,112,152,102,146,85,156,76,175" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/biceps" coords="232,147,249,155,259,179,257,206,236,198,224,173,223,150" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/abs" coords="138,164,166,159,193,164,195,236,138,236" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/trapezius" coords="151,86,155,98,162,108,128,102,150,89,149,80" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/trapezius" coords="184,78,173,109,188,104,199,104,204,101,202,101,204,101,199,102" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/quadriceps" coords="118,253,145,279,164,304,146,396,113,395,108,381,99,327,109,270,116,264" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/quadriceps" coords="217,253,173,298,177,336,186,385,190,398,223,393,234,343,228,287,222,274" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/calves" coords="118,414,127,424,139,427,130,495,107,531,98,474,105,425,116,414,118,419" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/calves" coords="197,426,209,425,217,412,228,421,237,472,230,534,215,514,200,474" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/forearms" coords="73,192,57,215,36,265,51,274,72,241,93,224,99,202,90,205,77,211,77,215" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/forearms" coords="239,204,246,226,268,247,286,271,296,263,273,200,261,189,262,210" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/lowerback" coords="541,187,522,197,521,224,512,240,542,258,569,240,559,199,550,193" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/glutes" coords="515,245,496,263,486,289,489,317,518,323,537,320,540,298,541,267,534,255" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/glutes" coords="570,245,555,249,544,263,543,299,550,324,570,321,588,316,596,305,597,289,586,262" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/triceps" coords="478,131,458,141,442,178,442,199,464,201,484,165" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/triceps" coords="603,131,621,138,632,155,644,195,623,205,618,200,600,163" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/hamstrings" coords="483,287,477,312,479,362,475,406,506,437,525,372,537,323,487,319,501,427,498,340,486,322,489,320,508,420" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/hamstrings" coords="581,435,605,408,607,337,602,292,592,320,560,327,550,325,548,345,573,423" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/lats" coords="484,149,503,151,516,144,538,186,520,198,517,225,511,237,491,195" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/lats" coords="566,144,584,152,598,149,593,195,572,239,565,220,567,210,547,182" shape="poly">
	<area target="_self" alt="" title="" href="/muscles/reardeltoids" coords="507,102,500,92,472,97,460,107,454,124,454,142,478,127,480,117,493,110" shape="poly">
    <area target="_self" alt="" title="" href="/muscles/reardeltoids" coords="581,93,600,93,616,101,627,118,627,141,607,127,578,98" shape="poly">
</map>
</div>
