<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header"><a href="/muscles/chest">Chest</a> - Barbell bench press</h3>
	<div class="m-auto">
	<img src="https://j.gifs.com/KRxzYY.gif"
	 width="420" height="300" style="margin-top: 20px;" >
	</div>
	<div class="card-body">
	  <p class="card-text">The barbell bench press is a very popular and efficient compound exercise that targets your chest, shoulders and triceps.</p>
	</div>
	<ul class="list-group list-group-flush">
	  <li class="list-group-item">1) Lay on the bench and arch your back</li>
	  <li class="list-group-item">2) Grab the barbell and bring it down to your chest</li>
	  <li class="list-group-item">3) Push it up and repeat</li>
	</ul>
	<div class="card-body">
	  <a href="https://www.youtube.com/watch?v=BYKScL2sgCs" target="_blank" class="card-link">"How to Bench Press"</a>
	</div>
	<div class="card-footer">
		<% if (login) { %>
			<div>
			<form action="/muscles/chest/barbellbenchpress/" method="POST" class="d-inline">
				<select name="day" id="day">
					<option value="monday">Monday</option>
					<option value="tuesday">Tuesday</option>
					<option value="wednesday">Wednesday</option>
					<option value="thursday">Thursday</option>
					<option value="friday">Friday</option>
					<option value="saturday">Saturday</option>
					<option value="sunday">Sunday</option>
				  </select>
				<button type="submit" class="btn btn-danger">Add to routine</button>
			</form>
			</div>
			<% }%>
	</div>
</div>