<h3>Barbell bench press</h3>
<p>The barbell bench press is a very popular and efficient compound exercise that targets your chest, shoulders and triceps.</p>

<img src="https://j.gifs.com/KRxzYY.gif">
  <iframe width="420" height="300"
  src="https://www.youtube.com/embed/BYKScL2sgCs">
  </iframe>
<ol>
	<li>Lay on the bench and arch your back</li>
	<li>Grab the barbell and bring it down to your chest</li>
	<li>Push it up and repeat</li>
</ol>