<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Chest</h3>
	<div class="m-auto">
		<img src="https://imgur.com/SYyGuAu.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">There are 3 muscles for the chest. The Pectoralis major, Pectoralis minor, and Serratus anterior.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/chest/barbellbenchpress" class="card-link">Barbell Bench Press</a>
	  <a href="/muscles/chest/inclinebenchpress" class="card-link">Incline Bench Press</a>
	</div>
  </div>