<h3>Incline bench press</h3>
<p>The incline bench press can be used with dumbbells or barbells as an accessory exercise to complement your compound work. The higher you angle the bench, 
	the more it works your shoulders.</p>
<img src="http://upl.stack.com/wp-content/uploads/2013/04/16143158/incline-bench-mistakes-3.gif">
<iframe width="420" height="300"
src="https://www.youtube.com/embed/DbFgADa2PL8">
</iframe>
<ol>
  <li>Lay on the bench and arch your back</li>
  <li>Grab the barbell and bring it down to your chest</li>
  <li>Push it up and repeat</li>
</ol>