<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header"><a href="/muscles/triceps">Triceps</a> - Tricep pushdown</h3>
	<div class="m-auto">
	<img src="https://i.makeagif.com/media/4-03-2016/9byy6n.gif"
	 width="420" height="300" style="margin-top: 20px;" >
	</div>
	<div class="card-body">
	  <p class="card-text">Tricep pushdowns are an isolation exercise for the triceps, used with a pulley.</p>
	</div>
	<ul class="list-group list-group-flush">
	  <li class="list-group-item">1) Grab the pulley with your back straight</li>
	  <li class="list-group-item">2) Bring it down with full range of motion</li>
	  <li class="list-group-item">3) Bring it up and repeat</li>
	</ul>
	<div class="card-body">
	  <a href="https://www.youtube.com/watch?v=2-LAMcpzODU" target="_blank" class="card-link">"How To: Tricep Pushdown (Life Fitness Cable)"</a>
	</div>
	<div class="card-footer">
		<% if (login) { %>
			<div>
			<form action="/muscles/triceps/triceppushdown/" method="POST" class="d-inline">
				<select name="day" id="day">
					<option value="monday">Monday</option>
					<option value="tuesday">Tuesday</option>
					<option value="wednesday">Wednesday</option>
					<option value="thursday">Thursday</option>
					<option value="friday">Friday</option>
					<option value="saturday">Saturday</option>
					<option value="sunday">Sunday</option>
				  </select>
				<button type="submit" class="btn btn-danger">Add to routine</button>
			</form>
			</div>
			<% }%>
	</div>
</div>