<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Rear deltoids</h3>
	<div class="m-auto">
		<img src="https://www.bodybuildingmealplan.com/wp-content/uploads/Rear-Delt-Fly-Muscles-Worked-1200x1200.jpg" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text"></p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
		<a href="/muscles/reardeltoids/facepulls" class="card-link">Face pulls</a>
	</div>
  </div>