<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Biceps</h3>
	<div class="m-auto">
		<img src="https://imgur.com/KyWtQGx.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">There are three muscles located in the anterior compartment of the upper arm – Biceps Brachii, Coracobrachialis and Brachialis.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/biceps/bicepcurls" class="card-link">Bicep Curls</a>
	  <a href="/muscles/biceps/hammercurls" class="card-link">Hammer Curls</a>
	</div>
  </div>