<h1>Biceps</h1>
<img src="https://imgur.com/KyWtQGx.png" width="300" height="300">
<p>There are three muscles located in the anterior compartment of the upper arm – Biceps Brachii, Coracobrachialis and Brachialis.
</p>

<h3>Exercises</h3>
<a href="/muscles/biceps/bicepcurls">Bicep Curls</a>