<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Front Deltoids</h3>
	<div class="m-auto">
		<img src="https://imgur.com/faV3e8h.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">Your Front Deltoids are one of the 3 deltoid muscles: the Anterior Deltoid, Lateral Deltoid, and Posterior Deltoid.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/frontdeltoids/overheadpress" class="card-link">Overhead Press</a>
	</div>
  </div>