<h1>Quadriceps</h1>
<img src="https://imgur.com/QgSvnU2.png" width="300" height="300">
<p>The Quadriceps femoris muscle is the large fleshy muscle group covering the front and sides of the thigh. 
	It has four parts: The Rectus Femoris, Vastus Lateralis, Vastus Medialis, and Vastus Intermedius.
</p>

<h3>Exercises</h3>
<a href="/muscles/quadriceps/barbellsquat">Barbell Squat</a>