<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Quadriceps</h3>
	<div class="m-auto">
		<img src="https://imgur.com/QgSvnU2.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">The Quadriceps femoris muscle is the large fleshy muscle group covering the front and sides of the thigh. 
		It has four parts: The Rectus Femoris, Vastus Lateralis, Vastus Medialis, and Vastus Intermedius.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/quadriceps/barbellsquat" class="card-link">Barbell Squat</a>
	  <a href="/muscles/quadriceps/legcurls" class="card-link">Leg curls</a>
	  <a href="/muscles/quadriceps/legpress" class="card-link">Leg press</a>
	</div>
  </div>