<%- include('../partials/messages'); %>
<h3>Shrugs</h3>
<p>Shrugs are a great isolation exercise for hitting the traps.</p>
<% if (login) { %>
<div>
	<form action="/muscles/trapezius/shrugs/" method="POST" class="d-inline">
		<select name="day" id="day">
			<option value="monday">Monday</option>
			<option value="tuesday">Tuesday</option>
			<option value="wednesday">Wednesday</option>
			<option value="thursday">Thursday</option>
			<option value="friday">Friday</option>
			<option value="saturday">Saturday</option>
			<option value="sunday">Sunday</option>
		  </select>
		<button type="submit" class="btn btn-danger">Add to routine</button>
	</form>
	</div>
	<% }%>
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/workouts/2017/03/db-shrug-1489073548.gif" width="420" height="300">
  <iframe width="420" height="300"
  src="https://www.youtube.com/embed/cJRVVxmytaM">
  </iframe>
<ol>
	<li>Grab a dumbbell on each side, arch your back, keep your shoulder blades pinched</li>
	<li>Elevate your shoulders up in a shrugging motion</li>
	<li>Bring them down and repeat</li>
</ol>
