<div class="card mb-3" style="margin-top: 20px;">
	<%- include('../partials/messages'); %>
	<h3 class="card-header">Trapezius</h3>
	<div class="m-auto">
		<img src="https://imgur.com/IiLx097.png" width="300" height="300" style="margin-top: 20px;">
	</div>
	<div class="card-body">
	  <p class="card-text">The Trapezius muscle is responsible for stabilizing the Scapula and extending the head at the neck.</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">Exercises</h5>
	  <a href="/muscles/trapezius/shrugs" class="card-link">Shrugs</a>
	</div>
  </div>