<h1>Trapezius</h1>
<img src="https://imgur.com/IiLx097.png" width="300" height="300">
<p>The Trapezius muscle is responsible for stabilizing the Scapula and extending the head at the neck.
</p>

<h3>Exercises</h3>
<a href="/muscles/trapezius/shrugs">Shrugs</a>